.game-table {
    .ant-table-small {
        border-left: 0;
        background: #fff;
        & > .ant-table-content > .ant-table-body > table {
            padding: 0px;
        }
    }
    .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-header {
        & tr:last-child {
            th {
                padding: 6px 16px;
            }
        }
    }

    th, td {
        text-align: center !important;
    }

    .editable-cell-value-wrap {
        // padding: 5px 12px;
        height: 24px;
        cursor: pointer;
    }
    
    tr {
        &.failed-check { 
            outline: 1px solid red;
            outline-offset: -1px;                    
        }
        transition: outline-color .7s ease-out;
    }

    td {
        .ant-form-item-control {
            line-height: inherit;;
        }

        &.failed-check {
            background: #ffc8c8 !important;
        }
    }

    
    
}

.game-layout {
    .ant-layout,
    &.ant-layout {
        background: none;    
    }
    
    .ant-menu {
        width: 50%;
        transition: all 0.3s;

        .ant-menu-item { 
            &:not(:last-child) {
                margin: 0;
            }
            margin: 0;
            line-height: 35px;
            height: 35px;
            border-bottom: 1px solid #e8e8e8;
        }

    }

    // card
    .ant-card {
        &.card {
            border-radius: 0;
            display: inline-block;
            width: 200px;
            height: 80px;
            text-align: center;
        }       
    }
    .ant-card-head {
        min-height: 0;
        padding: 0;
    }
    .ant-card-head-title {
        padding: 8px 0;
    }
    .ant-card-body {
        padding: 8px 0;
    }

    .ant-table-small {
        & > .ant-table-content > .ant-table-body  {
            margin: 0px;
        }
        .ant-table-row {
            td {
                height: 35px;
            } 
        }
    }
}