.change-players-btn {
  position: absolute;
  bottom: 15px;
  right: 40px;
  border: none;
  font-size: 40px;
  height: 55px;
  width: 55px;
  line-height: 40px;
  background: none;
}

.game-pad-container {
  .segment {
    div {
      display: inline-block;
    }

    .arrow-indicator {
      top: 3px;
    }
  }

  .factor-indicator,
  .fell-indicator {
    line-height: 20px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 0 6px;
    margin-top: 2px;
    color: red;
  }  
}