.league-stats {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    border-radius: 0;

    & > .ant-collapse-item:last-child, 
    .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header,
    .ant-collapse-item:last-child > .ant-collapse-content {
        border-radius: 0;
    }

    .ant-collapse-header {
        height: 46px;
    }
    
    .row-header {
        > div {
            font-weight: bold;
            padding: 5px;
            background: cadetblue;
            color: #fff;
            border: 1px solid;
        }
    }
    

    .row-data {
        > div {
            &:first-child {
                background: #387cfd;
            }
            padding: 5px;
            background: #7190c7;
            color: #fff;
            border: 1px solid;
        }
    }
}

.games-container {
    top: 48px;
}
