.change-players-btn {
  position: absolute;
  bottom: 15px;
  right: 40px;
  border: none;
  font-size: 40px;
  height: 55px;
  width: 55px;
  line-height: 40px;
  background: none;
}

.game-pad-container {
  margin-top: 0;
  padding-top: 8px;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  h3 {
    margin-bottom: 12px;
    padding-left: 6px;
  }

  .segment {
    div {
      display: inline-block;
    }

    .arrow-indicator {
      top: 3px;
    }
  }

  .factor-indicator,
  .fell-indicator {
    line-height: 20px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 0 6px;
    margin-top: 2px;
    color: red;
  }

  .number-pad-placement {
    width: 148px;
    height: 188px;
  }

  .hand-cards-container {
    position: absolute;
    top: 0;
    width: 100%;
    // height: 100%;
    z-index: 1;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
}
