.dial-pad {
  display: grid;
  min-width: auto;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 16px 8px;
  background: #27a727;
  padding: 6px;

  .more-less-btn {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  @media screen and (max-width: 595px) {
    grid-template-columns: repeat(3, 40px);
    button {
      padding: 0;
    }
  }
}
