.cards-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-modal-dialog {
  .ant-modal-body {
    display: flex;
    justify-content: space-between;
  }

  .ant-modal-close-x {
    display: none;
  }
}