.game-summery {
    padding: 0 5px;

    h3:first-child {
        text-align: center;
    }

    .table-cell {
        background: #fff;
        text-align: center;
        padding: 4px 0;
    }

    .stats-row {
        h4 {
            margin-bottom: 0px;
        }
    }
}