#root {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: auto;
  background: #34df34; }

.full-view {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px; }

ul.app-menu {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  width: 250px; }

ul.app-menu li {
  display: block;
  margin-top: 20px;
  /* padding: 10px 20px;
  cursor:pointer;
  background-color: #e2e2e2;
  color:#505050;  
  transition:0.3s; */ }

/* ul li:hover{
  background-color:#a1a1a1;
  color: #222;
} */
.app {
  height: 100%;
  overflow: hidden; }
  .app header,
  .app .app-main,
  .app .league-stats {
    text-align: center; }
  .app .loader .ant-spin-dot i {
    background-color: #000; }

#app-header {
  background-color: #222; }
  #app-header .app-title {
    /* font-size: 1.5em; */
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
    transform: translate(-84px, 62px);
    transition: all 0.5s; }
  #app-header .app-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 150px;
    padding-bottom: 30px;
    transform: translate(60px);
    transition: all 0.5s; }
  .inline-header #app-header .app-logo {
    transform: translate(0px);
    padding-bottom: 0px;
    height: 90px; }
  .inline-header #app-header .app-title {
    transform: translate(0px); }
  .mobile:not(.inline-header) #app-header .app-logo {
    height: 120px; }
  .mobile:not(.inline-header) #app-header .app-title {
    transform: translate(-63px, 43px); }
  .mobile.inline-header #app-header .app-logo {
    height: 60px; }

.app-content {
  height: calc(100% - 90px); }
  .mobile .app-content {
    height: calc(100% - 60px); }

.drawer .ant-menu-inline,
.drawer .ant-menu-vertical {
  border-right: none; }

.drawer-left .ant-menu-inline .ant-menu-item:after,
.drawer-left .ant-menu-vertical .ant-menu-item:after {
  left: 0;
  right: auto; }

.drawer-title {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #c7d1c5; }

.drawer.drawer-left .drawer-handle {
  top: 10px;
  box-shadow: none;
  background: transparent;
  transition: all 0.3s; }

.drawer.drawer-left .drawer-handle-icon {
  background: #34df34; }
  .drawer.drawer-left .drawer-handle-icon:after, .drawer.drawer-left .drawer-handle-icon:before {
    background: #34df34; }

.drawer.drawer-open .drawer-handle {
  background: #fff; }

.drawer.drawer-open .drawer-handle-icon:after, .drawer.drawer-open .drawer-handle-icon:before {
  background: #1a911a; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
